
@font-face {
  font-family: "Rimac";
  src: url("/fonts/Rimac-Display.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BR Sonoma";
  src: url("/fonts/BRSonoma-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BR Sonoma";
  src: url("/fonts/BRSonoma-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "BR Sonoma";
  src: url("/fonts/BRSonoma-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "BR Sonoma";
  src: url("/fonts/BRSonoma-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}


body {
    font-family: "BR Sonoma", Courier, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
}

h1, h2 {
  font-weight: 700;
}
  
.home {
    --bd-purple: #4c0bce;
    --bd-violet: #712cf9;
    --bd-accent: #ffe484;
    --bd-violet-rgb: 112.520718,44.062154,249.437846;
    --bd-accent-rgb: 255,228,132;
    --bd-pink-rgb: 214,51,132;

    .bd-masthead {
        background-image: linear-gradient(180deg, rgba(var(--bs-body-bg-rgb), 0.01), rgba(var(--bs-body-bg-rgb), 1) 85%),radial-gradient(ellipse at top left, rgba(var(--bs-primary-rgb), 0.5), transparent 50%),radial-gradient(ellipse at top right, rgba(var(--bd-accent-rgb), 0.5), transparent 50%),radial-gradient(ellipse at center right, rgba(var(--bd-violet-rgb), 0.5), transparent 50%),radial-gradient(ellipse at center left, rgba(var(--bd-pink-rgb), 0.5), transparent 50%);
      h1 {
        font-weight: 700;
        text-transform: uppercase;
      }
    }

    .btn-bd-primary {
        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet);
        --bs-btn-border-color: var(--bd-violet);
        --bs-btn-border-radius: .5rem;
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #6528e0;
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8;
    }
}

.navbar {
    @extend .navbar-light;   
    padding: .75rem 0;
}

.navbar-brand {
  @media (min-width:600px) {
    margin-left: 80px;
  }
}

.text-violet {
    color: #6528e0;
}

.list {
    .card {
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.01);
        }
    }
}

.navbar-collapse {
    flex-grow: initial;
}


.menu-main.navbar-nav .nav-link {
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.featured-projects {
  
  .project-logo {
    display: flex;
    width: 160px;
    height: 40px;
    margin: 20px;
    align-items: center;
    align-content: center; 
    align-self: center;
    justify-self: center;
    justify-content: center;
  }

  .project-logo img {
 	max-width: 100%;
	max-height: 100%;
  }
  p {
    font-size: 1.6rem;
    font-weight: 300;

  }
}

.sponsor-strip.platinum {
	display: flex;
	justify-content: center;
	justify-items: center;
	align-items: center;
	flex-wrap: wrap;

	.sponsor-item {
		margin: 2em;
	}

}

.speaker-strip {
	display: grid;

	grid-template-columns: repeat(auto-fill, 240px);
    grid-column-gap: 1em;
    justify-content: space-around;
	
}

.speaker-item {
    margin: 1.2rem 0;
  a {
    text-decoration: none;
  }
}

.menu-button {
  font-size:0.9rem; 
  font-weight: 600;
  text-transform:uppercase;
  @media (min-width:600px) {
    margin-right: 80px;
  }
}

#hero-container {
//  background-image: url("/images/wsoft-right-1300.png");
  background-image: url("/images/gradiente-modal.png");
  background-size: cover;
  background-position: bottom right;
  border-radius: 20px;
  padding: 30px 50px;
  display: grid;
  grid-template-columns: 1fr 514px;
  justify-content: space-between;
  align-items: center;


  @media (min-width:768px) {
    padding-left: 80px;
  }
}

.hero-img {
  width: 512px;
  img {
    border-radius: 20px;
  }
  @media (max-width:1200px) {
    display:none;
  }
}

.hero-card {

  .card-title {
    color: white;
    font-size: 0.9rem;
    background: linear-gradient(90deg,#ff6200 1.19%,#f7052d 27.66%,#f7052d 75.53%,#b00968);
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 4px 20px;
  }
  .card-body-outer {
    display: block;
  }
  .card-body-inner {

    h2 {
      font-size: 60px;
      margin-bottom: 28px;
    }
    
  }
 
}

.font-rimac {
  font-family: Rimac, Courier, Helvetica, Arial, sans-serif;
}
.color-gradient {
  background: linear-gradient(93.7deg, #FF6200 4.05%, #F7052D 18.46%, #F7052D 74.38%, #D41983 88.79%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;  
}

.descripcion-grid {
  display: grid;
  @media (min-width:768px) {
    padding-left: 80px;
    padding-right: 80px;
  }
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;  
  @media (max-width: 1200px) {
    grid-template-columns: 1fr 1fr;
  }

  .desc1, .desc2 {
    width: 352px;
  }

  .desc1 { grid-area: 1 / 1 / 2 / 2; }
  .desc2 { grid-area: 2 / 1 / 3 / 2; }
  .desc3 { grid-area: 1 / 2 / 3 / 3; }
  .desc4 { grid-area: 1 / 3 / 3 / 4; }

  @media (max-width: 992px) {
    .desc4 { grid-area: 1 / 1 / 3 / 4; }
	}

}

.descripcion-container {
  text-align: center;
  margin: 0 auto;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2em;
  @media (min-width: 1200px){
    font-size: 48px;
    width: 70%;
  }
}

.b-wave {
  background: rgb(254,154,7);
  background: linear-gradient(120deg, rgba(254,154,7,0.4976584383753502) 0%, rgba(251,8,43,0.6012998949579832) 95%);
  border-radius: 15px;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.card-strip {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(336px, 1fr));  
  column-gap: 1.5rem;
  @media (min-width: 768px) {
    grid-template-columns: repeat(3, minmax(240px, 1fr));   
  }
  @media (min-width:1300px) {
    grid-template-columns: repeat(5, minmax(240px, 1fr));   
  }
}

.card-strip .card {
  padding: 0.5rem 0.5rem 1.5rem 0.5rem;
  border-radius: 20px;
  font-size: 0.875rem;
}


.card-button {
  font-size: 0.75rem;
  font-weight: 600;
}

.perfiles-container {
  width: 700px;
  margin: 0 auto;
  p {
    font-size: 28px;
  }
  @media (max-width:992px) {
    width: 90%;
    p {
      font-size: 24px;
    }
  }
}


.bg-gradient {
  background-image: linear-gradient(213deg,#f7052d 5.99%,#d41983 42.37%,#621fff 82.94%);
}

.card-body h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
}

div.reto-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.reto-img {
  display: none;
  margin-bottom: 40px;
  @media (min-width:992px) {
    display: block;
    width: 350px;
  }
  @media (min-width:1400px) {
    width: 472px;
  }
  img {
    border-radius: 0px 20px 20px 20px;
  }
}

div.reto-text {
  @media (min-width:1400px) {
    width: 640px;
    padding-right: 96px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-weight: 600;
    font-size: 24px;
  }

  h4 {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 28px;
    font-weight: 600;
  }
}

.reto-item {
  @media (min-width:1200px) {
    display: flex;
  }  
  padding-top: 30px;
  padding-bottom: 40px;

  .icon {
    width: 48px;
    margin-right: 32px;
    margin-bottom: 20px;
  }
  .text {
    @media (min-width:1400px) {
      width: 464px;
    }
    font-size: 16px;
    line-height: 160%;
  }  
}

.b-divider {
  border-bottom: 1px solid #CCD1EE;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a.nav-link, a.nav-link:hover {
  color: #000000;
}

.btn-dark {
  color: #ffffff;
  background-color: #000000;
}

.btn-dark:hover {
  color: #000000;
  background-color: white;
}

.herocta {
  padding: 14px 35px;
}

section#retos {
  background-color: #f8f9ff;
  border-radius: 20px;
  margin: 20px;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

section.hero {
  padding-top: 20px;
}

.sponsor-strip {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  img {
    margin: 30px 40px;
  }
}

.card-img, .card-img-top {
    border-radius: 20px;
}

.card {
  border-color: #CCD1EE;
}

