{{ define "main" }}

<section class="container hero">
    <div id="hero-container">
      <div class="hero-card">
        <div class="card-body-outer d-flex">
          <div class="card-body-inner">
            <h2 class="mb-0 font-rimac color-gradient">Hackathon</h2>
            <h2 class="font-rimac mb-1">RIMAC 2025</h2>
            <h3 class="color-gradient font-rimac">Healthcare & Data</h3>
            <p>Del 21 al 23 de Noviembre</p>
            <div data-tf-live="{{.Site.Params.options.typeform_id_long}}" data-tf-loaded="true">
              <a data-tf-popup="{{.Site.Params.options.typeform_id_short}}" data-tf-opacity="100" data-tf-size="70" data-tf-iframe-props="title=Registro Hackathon RIMAC" data-tf-transitive-search-params="" data-tf-medium="snippet" role="button" class="btn btn-dark rounded-pill fw-600 herocta">Regístrate aquí ></a>
            </div>   
          </div>
        </div>
      </div>
      <div class="hero-img">
        <img class="img-fluid" src="/images/hero2025.jpg">
      </div>
    </div>
</section>

<section class="container descripcion">
  <h2 class="text-center">¿Qué buscamos?</h2>
  <div class="descripcion-container">
    <div class="color-gradient desc4">Diseñar soluciones disruptivas en healthcare y data a través de nuevas tecnologías que contribuyan al bienestar de los peruanos</div>
  </div>
</section>

<section id="retos">
  <div class="container">
  <h2 class="text-center">Conoce los retos</h2>
      <div class="card-strip">
        {{ range where .Site.RegularPages "Type" "retos"}}
        <div class="card mx-1 mb-3">
          <a href="{{.RelPermalink}}">
          {{ $img := resources.Get (index .Params.images 0) }}
          {{ with $img }}
            {{ $imgp := $img.Resize "600x webp" }}
            <img src="{{$imgp.RelPermalink }}" class="card-img-top" alt="{{.Title}}">
          {{ end }}
          </a>
          <div class="card-body">
            <h5 class="card-title">Reto {{.Params.label_aka}}</h5>
            <h5>{{.Params.premio}}</h5>
            <p class="card-text">{{ .Content | .RenderString }}</p>
 
             <a href="{{.RelPermalink}}" class="card-button btn btn-outline-dark rounded-pill px-3">Ver más</a>

          </div>
        </div>        
        {{ end }}
      </div>
      <div class="text-center mt-4">
        <h5>+ Premio especial NTT Data S/ 3000</h5>
        <p>al mejor reto entre los 3 ganadores</p>
        <img src="/images/logo-nttdata.png">
      </div>
    </div>  
  </div>
</section>


<section class="container perfiles text-center">
  <div class="perfiles-container">
    <img class="img-fluid mb-4" src="/images/perfiles-2025.jpg"> 
    <h2 class="text-center">¿Qué perfiles estamos buscando?</h2>
    <p class="text-center">
      Developer Front/Back, Developers, TI, Ai Specialist, Designers (UX/UI/Service/Behav), Data Scientists, Machine Learning y más.
    </p>
    <div class="mt-4" data-tf-live="{{.Site.Params.options.typeform_id_long}}" data-tf-loaded="true">
      <a data-tf-popup="{{.Site.Params.options.typeform_id_short}}" data-tf-opacity="100" data-tf-size="70" data-tf-iframe-props="title=Registro Hackathon RIMAC" data-tf-transitive-search-params="" data-tf-medium="snippet" role="button" class="btn btn-dark rounded-pill fw-600 herocta">Regístrate aquí ></a>
    </div>   

  </div>  
</section>

<section id="patrocinadores">
  <div class="container">
    <h2 class="text-center">
      Partners
    </h2>
    <div class="sponsor-strip">
      <img class="img-fluid" src="/images/logo-aws.png">
      <img class="img-fluid" src="/images/logo-nttdata.png">
      <img class="img-fluid" src="/images/logo-kyndril.png">
    </div>

  </div>
</section>


{{ end }}
